@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="intro-content-container">
    <center>
        <div class="intro-text">

            <h1 class="display-2">Take a Gander at This Jam!!!</h1>
            <h2 class="display-4">"<span style="color:limegreen; font-size:1.5em;">$</span>ave Dat Money", by Lil Dicky</h2>
   
    </div>
    <div class="video-container">
        <iframe id="lilDicky" width="560" height="315" src="https://www.youtube.com/embed/yvHYWD29ZNY"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;
                    picture-in-picture" allowfullscreen></iframe>
    </div>
     </center>

    <div class="exit-content">
        <div class="exit-text exit-text-appear" >
            <h2>Thank you for checking out one of my favorite videos!!!</h2><br><br>
            <h3>as a BONUS,... I'll say 'Goodbye' with one more of my favorites...<br><br />
            Well,... I lied - maybe TWO!!!</h3>
            <p>(...they're old but I still like them! Bye!!!)</p>
        </div>
  </div>
    <div class="video-container1">
        <iframe id ="snatch"width="560" height="315" src="https://www.youtube.com/embed/BJL8GjLCGxU" frameborder="0"
         allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="video-container2">
        <iframe id="aliceInChains" width="560" height="315" src="https://www.youtube.com/embed/9S8dF7kCKCg" frameborder="0" 
         allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

</div>
